.header {
  display: flex;
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header h2 {
  flex: 1;
  font-size: 40px;
  margin: 0;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header ul li {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
