.footer-container {
  background: blue;
  padding: 1rem 2.5rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-site-text {
  color: #fff;
  font-weight: bold;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.footer-links {
  color: #fff;
  font-weight: bold;
  display: flex;
  gap: 0.75rem;
}
